div{
    background-color: antiquewhite;
    padding: 10px;
    margin: 20px;
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    border: 20px;
    border-radius: 20px;
    
}
h1{
    text-align: center;
    color: brown;
    background-color: blanchedalmond;
    margin: 20px;
    border: 20px;
    border-radius:20px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 30px;
}
