div{
    background-color: antiquewhite;
    padding: 10px;
    margin: 20px;
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
    border: 20pxx;
    border-radius: 20px;
    
}